@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
  margin: 0;
  padding: 0;
}

.header{
  height: 1000px;
   display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap.
}

.header-main{
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 15;
}

.header-main-logo{
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat; 
    margin-left: 80px;
  font-size: 15px;
}

.header-main-logo-text-tech{
  color: blue;
}

.header-main-nav{
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Montserrat; 
  margin-right: 350px;
}

.header-main-nav-text{
  font-size: 20px;
  text-decoration: none;
  color: blue;
  font-weight: 450;
}
.header-main-nav-text:hover{
  color: black;
  transition: 1s;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: Montserrat;, sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(./img/caasd.jpeg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      font-family: Montserrat;
}

.contacts {
    padding: 2rem 9%;
}

.contacts .heading {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-family: Montserrat;
    color: #f2f2f2;
    font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.contacts .heading span {
    color: orangered;
    font-size: 60px;
}

.contacts .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.contacts .row form {
    flex: 1 1 40rem;
}

.contacts .row form .box {
    width: 100%;
    margin: 1rem 0rem 2rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.contacts .row form span {
    color: #00fae9;
    font-size: calc(15px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.contacts .row form .gender {
    margin: 1rem 0rem 2rem;
}

.contacts .row form .gender label {
    margin-left: 0.2rem;
    font-size: 1.6rem;
    color: #f2f2f2;
    cursor: pointer;
}

.contacts .row form .gender #female {
    margin-left: 2rem;
}

.contacts .row form .gender input {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: 0.3s;
}

.contacts .row form .gender input:checked {
    background-color: orangered;
    border-radius: 50%;
}

.contacts .row form .gender #female:checked ~ label[for=female] {
    color: orangered;
}

.contacts .row form .gender #male:checked ~ label[for=male] {
    color: orangered;
}

.btn {
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem 1ren rgba(0,0,0,.7);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: orangered;
    color: #f2f2f2;
}

@media only screen and (max-width: 767px) {   body {   
 background-image: url(./img/22cd997605a5b41c7fe28172d33c2cd6-photoaidcom-darken.jpeg);
   width: 100%;
  }

@media screen and (max-width: 1200px){
   div.header-main-nav{
   margin-right: 20px;
   }
   div.header-main-logo{
    margin-left: 1px;

   }

}


@media screen and (max-width: 1090px){

  div.header-main-nav{
    width: 100%;
    display: block;
    align-items: center;
    text-align: right;
    margin-right: 350px;
    text-align: center;
    height: auto;
  }
  a.header-main-nav-text{
    width: 100%;
    display: block;
    align-items: center;
    text-align: right;
    margin-right: 350px;
    font-size: 20px;
    white-space: nowrap;
    height: auto;
  }
  div.header-main{
    height: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 998px){

  div.header-main-nav{
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: auto;
  }
  a.header-main-nav-text{
    width: 100%;
    display: block;
    align-items: center;
    text-align: right;
    margin-right: 350px;
    font-size: 20px;
    white-space: nowrap;
    height: auto;
  }
  div.header-main{
    height: 100px;
    width: 100%;
  }
}


@media screen and (max-width: 768px){
  body {
    width: 100%;
    min-height: 100vh;
    background: url(./img/fasd.jpeg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      font-family: Montserrat;
}

   div.header-main{
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 15;
  }

  div.header-main-nav{
    width: 100%;
  display: block;
  align-items: center;
    text-align: right;
    margin-right: 30px;
    height: auto;


  }
  a.header-main-nav-text{
      display: block;
  align-items: center;
    text-align: right;
    margin-right: 0;
    font-size: 20px;
    white-space: nowrap;
  }
  
  }

@media screen and (max-width: 600px){
  div.header-main-bot-wrapper{
    width: 100%;
    display: block;
    text-align: center;
    margin-right: auto;
    height: auto;


}

  @media screen ande (max-width: 550px){
  .header-main-bot-h{
    width: auto;
    height: 30px;
    margin:auto;
    font-size: 20px;
  }
